/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

/* Colors */
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Transparent-dark-gray: hsla(0, 0%, 55%, 0.528);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}
/* Factory Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
html {
  font-size: 15px;
}
body {
  color: var(--White);
  font-family: "Josefin Sans";
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}
/* Header styling */
header {
  width: 100%;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8rem 8rem;
  padding-top: 3rem;
  padding-bottom: 11rem;
}
.header-nav {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 10rem;
}
.header-nav-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.hamburger {
  display: none;
}
.icon-close {
  display: none;
}
.header-links-container {
  display: flex;
  gap: 2rem;
}
.header-link {
  list-style: none;
  position: relative;
  font-size: 0.8rem;
}
.header-link a:link,
.header-link a:visited {
  text-decoration: none;
  color: inherit;
}
.header-link::after {
  content: "";
  position: absolute;
  background-color: var(--White);
  top: 100%;
  right: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.header-link:hover::after {
  width: 100%;
  transform: scaleX(1);
}

.header-block-text {
  font-size: 4rem;
  font-weight: 300;
  width: 55%;
  text-transform: uppercase;
  border: 4px solid var(--White);
  padding: 2rem;
}

/* Intro Section */
.intro-section {
  margin: 10rem;
  height: 80vh;
  max-height: 550px;
  max-width: 1400px;
  width: fit-content;
  background: url(images/desktop/image-interactive.jpg);
  background-repeat: no-repeat;
  background-size: 60% 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-bottom: 12rem;
}
.interactive-mobile {
  display: none;
}
.intro-section-text-container {
  width: 54%;
  background-color: var(--White);
  height: 55%;
  padding: 4rem;
  padding-right: 0;
  padding-bottom: 0;
  color: var(--Very-Dark-Gray);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.intro-section-header {
  font-size: 2rem;
  font-weight: 350;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.2;
}
.intro-section-pargraph {
  line-height: 1.4;
}
/* Mini Section */
.mini-section {
  color: var(--Very-Dark-Gray);
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 5rem;
}
.mini-section p:first-child {
  font-size: 2.5rem;
  font-weight: 350;
  text-transform: uppercase;
}
.see-all {
  text-transform: uppercase;
  background-color: var(--White);
  border: 1px solid var(--Black);
  padding: 1rem 2rem;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}
.see-all:hover {
  color: var(--White);
  background-color: var(--Black);
  border: none;
  cursor: pointer;
}
.see-all-mobile {
  display: none;
}
/* Image Section */
.img-section {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 1000px;
  margin-bottom: 10rem;
}
.creation {
  color: var(--White);
  font-size: 1.6rem;
  font-weight: 300;
  padding: 3rem;
  text-transform: uppercase;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: relative;
}
.overlay {
  position: absolute;
  background-color: var(--White);
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.overlay:hover {
  opacity: 0.7;
  cursor: pointer;
}
.creation-1 {
  background-image: url(images/desktop/image-deep-earth.jpg);
}
.creation-2 {
  background-image: url(images/desktop/image-night-arcade.jpg);
}
.creation-3 {
  background-image: url(images/desktop/image-soccer-team.jpg);
}
.creation-4 {
  background-image: url(images/desktop/image-grid.jpg);
}
.creation-5 {
  background-image: url(images/desktop/image-from-above.jpg);
}
.creation-6 {
  background-image: url(images/desktop/image-pocket-borealis.jpg);
}
.creation-7 {
  background-image: url(images/desktop/image-curiosity.jpg);
}
.creation-8 {
  background-image: url(images/desktop/image-fisheye.jpg);
}

/* Footer */
footer {
  background-color: var(--Black);
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  padding-bottom: 2rem;
  font-weight: 300;
}
.first-half-footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer-list-container {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.footer-link a:link,
.footer-link a:visited {
  text-decoration: none;
  color: var(--White);
}
.footer-link {
  position: relative;
}
.footer-link:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  height: 3px;
  right: 0;
  background-color: var(--White);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.footer-link:hover::after {
  transform: scaleX(1);
}

.second-half-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socials {
  display: flex;
  gap: 1rem;
}
.fa-brands {
  font-size: 1.3rem;
}
/* Media Quaries */
@media all and (max-width: 1360px) {
  .intro-section-text-container {
    width: 60%;
    padding: 3rem;
    padding-right: 0;
    padding-bottom: 0;
  }
}
@media all and (max-width: 1230px) {
  .header-block-text {
    width: 60%;
  }
  .intro-section {
    background-size: 70% 100%;
  }
  .intro-section-text-container {
    width: 50%;
    padding: 3.8rem;
    padding-right: 0;
    padding-bottom: 0;
  }
}
@media all and (max-width: 1200px) {
  header {
    margin-bottom: 5rem;
  }
  .intro-section {
    background: none;
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 3rem;
    max-height: 10000px;
  }
  .intro-section-text-container {
    padding: 0;
    height: auto;
    width: 100%;
    text-align: center;
  }
  .interactive-mobile {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media all and (max-width: 1000px) {
  .img-section {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 1500px;
  }
  .header-block-text {
    width: 70%;
  }
}
@media all and (max-width: 950px) {
  .header-links-container {
    display: none;
  }
  header {
    padding: 5rem;
  }
  .header-mobile {
    padding: 0;
  }
  .hamburger-display {
    display: block;
    transform: scale(1.4);
    animation: rotate 0.5s ease-in-out;
  }
  @keyframes rotate {
    from {
      transform: rotate(-180deg);
    }
  }
  .icon-close-display {
    display: block;
    transform: scale(1.4);
  }
  .header-text-balancer {
    padding-top: 15rem;
    padding-bottom: 10rem;
  }
  .header-nav-mobile {
    width: 100vw;
    height: 100vh;
    background-color: var(--Black);
    align-items: flex-start;
    padding: 3rem;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    animation: fade-in 0.5s ease-in-out;
    z-index: 5;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .header-nav-child {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 4rem;
  }
  .header-links-container-mobile {
    flex-direction: column;
    display: flex;
  }
  .header-link a {
    font-size: 2rem;
    font-weight: 300;
    display: inline-block;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
  }
  .first-half-footer {
    align-items: center;
  }
  .footer-list-container {
    display: flex;
    flex-direction: column;
  }
  .second-half-footer {
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }
}
@media all and (max-width: 850px) {
  header {
    background-image: linear-gradient(
        hsla(0, 0%, 0%, 0.3),
        hsla(0, 0%, 0%, 0.3)
      ),
      url(images/mobile/image-hero.jpg);
    background-size: cover;
  }
  .header-block-text {
    width: 80%;
    margin-bottom: 10rem;
  }
  .img-section {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 2000px;
    margin-bottom: 3rem;
  }
  .creation {
    background-size: cover;
  }
  .see-all-desktop {
    display: none;
  }
  .mini-section {
    justify-content: center;
  }
  .see-all-mobile {
    display: flex;
    width: 40%;
    border: 2px solid var(--Black);
    background-color: var(--White);
    color: var(--Very-Dark-Gray);
    margin: 0 auto;
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }
  .see-all-mobile:hover {
    border: none;
    background-color: var(--Black);
    color: var(--White);
  }
}
@media all and (max-width: 700px) {
  .img-section {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: auto;
  }
  .creation {
    background-size: cover;
    width: 100%;
    background-position: top;
    padding-top: 10rem;
    justify-content: flex-start;
  }
  .overlay {
    left: 0rem;
  }
  .creation-1 {
    background-image: url(images/mobile/image-deep-earth.jpg);
  }
  .creation-2 {
    background-image: url(images/mobile/image-night-arcade.jpg);
  }
  .creation-3 {
    background-image: url(images/mobile/image-soccer-team.jpg);
  }
  .creation-4 {
    background-image: url(images/mobile/image-grid.jpg);
  }
  .creation-5 {
    background-image: url(images/mobile/image-from-above.jpg);
  }
  .creation-6 {
    background-image: url(images/mobile/image-pocket-borealis.jpg);
  }
  .creation-7 {
    background-image: url(images/mobile/image-curiosity.jpg);
  }
  .creation-8 {
    background-image: url(images/mobile/image-fisheye.jpg);
  }
  .header-block-text {
    width: 100%;
    margin-bottom: 10rem;
  }
}
@media all and (max-width: 620px) {
  header {
    padding: 4rem;
  }
  .intro-section {
    margin: 4rem;
  }
  .header-block-text {
    font-size: 3rem;
  }
}
@media all and (max-width: 550px) {
  .header-link a {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 500px) {
  .header-block-text {
    font-size: 2.6rem;
    line-height: 1.7;
  }
  .img-section {
    display: flex;
    flex-direction: column;
  }
  .creation {
    /* background-size: contain; */
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100px;
    text-align: left;
  }
}
@media all and (max-width: 500px) {
  header {
    padding: 2rem;
    padding-bottom: 6rem;
  }
  .intro-section {
    margin: 3rem;
  }
}
